<mat-card class="example-card">
    <mat-card-content style="text-align: center">
        Copyright&nbsp;
        <fa-icon [icon]="icons.faCopyright" size="lg"></fa-icon>&nbsp;
        2019 Arik Kfir&nbsp;
        <a href="https://www.linkedin.com/in/arikkfir">
            <fa-icon [icon]="icons.faLinkedin" size="lg" class="grayscale"></fa-icon>
        </a>
        &nbsp;
        <a href="https://github.com/arikkfir">
            <fa-icon [icon]="icons.faGithub" size="lg" class="grayscale"></fa-icon>
        </a>
    </mat-card-content>
</mat-card>
