@import "~src/theme";

.neutral {
    opacity: 0.5;
}

.positive {
    color: green !important;
}

.negative {
    color: red !important;
}

.mat-divider.header {
    border-top-color: mat-color($accent, 500);
    border-top-width: 2px;
}

.row {
    .incoming {
        width: 7em;
    }

    .outgoing {
        width: 7em;
    }

    .balance {
        width: 7em;
    }
}
