<div fxFlexFill fxLayout="column">
    <h1 fxFlex="none">Balance</h1>
    <p-treeTable [value]="accounts" (onNodeExpand)="onNodeExpand($event)" fxFlex="0 0 auto">
        <ng-template pTemplate="header">
            <tr>
                <th>Account</th>
                <th>Balance</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode">
                <td>
                    <!-- TEMPORARY PATCH / CONDITION: https://github.com/primefaces/primeng/issues/7297 -->
                    <a *ngIf="rowNode.node.leaf && rowNode.level === 0" class="ui-treetable-toggler ui-unselectable-text" style="visibility: hidden;">
                        <i class="pi pi-fw pi-chevron-right" ng-reflect-ng-class="pi pi-fw pi-chevron-right"></i>
                    </a>
                    <!-- TEMPORARY PATCH / END -->

                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{rowData.name}}
                </td>
                <td>
                    <span [ngClass]="{'negative': rowData.balance < 0, 'positive': rowData.balance > 0}"
                          pTooltip="{{rowData.incoming | currency : '₪ ' }} - {{rowData.outgoing | currency : '₪ ' }}"
                          tooltipPosition="bottom">
                        {{rowData.balance | currency : '₪ ' }}
                    </span>
                    <a routerLink="/transactions" [queryParams]="{for: rowData.id}" style="float:right">
                        <fa-icon icon="handshake"></fa-icon>
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
</div>
