@import '~src/theme.scss';

nav {
    min-width: 15em;
    .mat-list-base .mat-list-item.active {
        background-color: mat-color($primary, 500);
        color: mat-color($primary, '500-contrast');
    }
}

header {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
    .brand {
        text-shadow: #000 1px 1px 1px;
        text-transform: uppercase;
    }
}

main {
    padding: 1em;
}

footer {
    background-color: mat-color($primary, 50);
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.2);
    color: mat-color($primary, 50-contrast);
    padding: 0.3em;
    a, a:visited, a:hover {
        color: inherit;
    }
}
