<p-sidebar [(visible)]="sideBarOpen">
    <nav class="p-grid p-dir-col">
        <a *ngFor="let m of menu" [routerLink]="m.path" routerLinkActive="active" class="p-col" (click)="sideBarOpen=false">
            <span class="p-col"><fa-icon [icon]="m.icon"></fa-icon></span>
            <span class="p-col">{{m.text}}</span>
        </a>
    </nav>
</p-sidebar>

<div class="root p-grid p-dir-col p-nogutter">
    <header class="p-col-fixed p-grid p-nogutter p-align-center">
        <div class="menu p-col-fixed">
            <fa-icon icon="bars" size="lg" (click)="sideBarOpen = !sideBarOpen"></fa-icon>
        </div>
        <h1 class="brand p-col-fixed">Bluebudgetz</h1>
        <div class="p-col">&nbsp;</div>
        <div class="user-menu p-col-fixed">
            <fa-icon icon="user-circle" size="2x"></fa-icon>
        </div>
    </header>
    <main class="p-col">
        <router-outlet></router-outlet>
    </main>
    <footer class="p-col-fixed">
        Copyright&nbsp;<fa-icon [icon]="['far', 'copyright']" size="lg"></fa-icon>&nbsp;2019 Arik Kfir
        <span>&nbsp;&nbsp;&nbsp;</span>
        <a href="https://www.linkedin.com/in/arikkfir"><fa-icon [icon]="['fab','linkedin']" size="lg"></fa-icon></a>
        <span>&nbsp;</span>&nbsp;
        <a href="https://github.com/arikkfir"><fa-icon [icon]="['fab','github']" size="lg"></fa-icon></a>
    </footer>
</div>
