<mat-sidenav-container class="root">
    <mat-sidenav #sidenav role="navigation" [opened]="sideBarOpen" (closed)="sideBarOpen=false">
        <mat-nav-list>
            <h3 mat-subheader>Navigation</h3>
            <a mat-list-item *ngFor="let m of menu" routerLinkActive="active" [routerLink]="m.path" (click)="sideBarOpen=false">
                <mat-icon matListIcon>{{ m.icon }}</mat-icon>
                <span class="label">{{ m.text }}</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <header>
            <mat-toolbar color="primary">
                <button mat-flat-button color="primary" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <div>
                    <a>Bluebudgetz</a>
                </div>
            </mat-toolbar>
        </header>
        <main>
            <router-outlet></router-outlet>
        </main>
        <footer>
            <span>Copyright&nbsp;&copy; 2019 Arik Kfir</span>
            <a href="https://www.linkedin.com/in/arikkfir">LinkedIn</a>
            <a href="https://github.com/arikkfir">GitHub</a>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>
