html, body { height: 100%; }
body { margin: 0; }

/*
.ng-valid
.ng-invalid
.ng-pending
.ng-pristine
.ng-dirty
.ng-untouched
.ng-touched

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}

 */
